<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web scrapping github action</title>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #eeeeee;
    }

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 3rem;
      border-bottom: 1px solid #000;

      background-color: inherit;
      position: sticky;
      top: 0;
    }

    #root {
      max-width: 800px;
      margin-inline: auto;
    }

    .postsContainer {
      margin-top: 2rem;
      margin-bottom: 10rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
      gap: 20px;
    }

    .postContent {
      background-color: #fff;
      border-radius: 10px;
      padding: 1rem 2rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .postContent img {
      aspect-ratio: 4/3;
      object-fit: contain;
      width: 250px;
    }
  </style>
</head>

<body>
  <header>
    <h1>Web scraping</h1>
    <p>Date of scrapping: <strong>
        <%= creationDate %>
      </strong></p>
  </header>

  <div id="root">
    <div class="postsContainer">
      <% items.forEach(function(item) { %> <%- include("partials/item", item) %>
          <% }); %>
    </div>
  </div>
</body>

<script>
  const posts = document.querySelectorAll(".postContent");
  posts.forEach((post) => {
    const img = post.querySelector("img");
    img.addEventListener("error", () => {
      post.style.display = "none";
    });
  });
</script>

</html>